<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        
        <main>
            <% if(products.length > 0) { %>
                <ul>
                    <% products.forEach(cartItem => { %>
                        <li>
                            <p><%= cartItem.productData.title %> (<%=  cartItem.quantity %>)</p>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" name="productId" value="<%= cartItem.productData.id %>"/>
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }); %>
                </ul>
            <% } else { %>
                <h1>Ther are no products in the cart. </h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>
